{% extends "base.html.twig" %}

{% block body %}
    {# TODO: add allow only if not already logged in #}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <button>{{ "register_now"|trans }}</button>
    {{ form_end(form) }}
{% endblock %}